{% extends "base.html" %}

<!-- header -->
{% block head %} {%endblock%}
<!-- end of head -->

<!-- header section -->
{% block body %}
<h1><button onclick="window.location.href=window.location.href" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">My Soccer App</button></h1>

{% endblock %}

<!-- Main content -->
{% block content %}
<img src="{{ url_for('static', filename='images/main_img_1.jpg')}}" alt="Motivational quote from Neymar" height="600" width="500">
{% endblock %}
